<p>student-detail works!</p>
<table>
    <tr>
        <td>
            id
        </td>
        <td>
            {{studentdetail?.id}}
        </td>
    </tr>
    <tr>
        <td>
            name
        </td>
        <td>
            {{studentdetail?.name}}
        </td>
    </tr>
    <tr>
        <td>
            age
        </td>
        <td>
            {{studentdetail?.age}}
        </td>
    </tr>
    <tr>
        <td>
            stream
        </td>
        <td>
            {{studentdetail?.stream}}
        </td>
    </tr>
</table>
